textarea {
  resize: none;
  width: 100%;
  margin-top: 20px;
  padding: 8px;
}
.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.forms form input {
  padding: 8px;
  margin-top: 8px;
}
.indexIntro,
.indexIntro a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #788291;
  font-size: 1.4rem;
}
.indexIntro a:hover {
  transition: all 3ms ease-in-out;
  color: #395783;
  text-decoration: underline;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}
#delete {
  background: crimson;
  padding: 8px;
  font-size: medium;
}
#delete:hover {
  background: rgb(160, 53, 74);
  transition: all ease-in-out 3ms;
}
#update {
  background: #3586ff;
  padding: 8px;
  font-size: medium;
}
#update:hover {
  background: #6f9de2;
  transition: all ease-in-out 3ms;
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
